<div id="tl-topbar" class="tl-topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 ml-lg-auto">
                        <div class="tl-topbar-menu float-lg-right">
                            <ul class="unstyled list-inline">
                                <li><a href="/faq">Have Any Question?</a></li>
                                <li><a href="https://www.codingblocks.com">Coding Blocks Main Website</a></li>
                                <li class="tl-user-form">
                                    <a href="#" class="link1">Sign In</a>
                                    <a href="#" class="link1">Register</a>
                                </li>
                            </ul> <!-- List End -->
                        </div> <!-- Topbar End -->
                    </div> <!-- Col End -->
                    <div class="col-lg-3">
                        <div class="tl-topbar-social-links float-lg-right">
                            <ul class="unstyled list-inline">
                                <li><a href="https://instagram.com/codingblocksjr" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://www.facebook.com/codingblocksjr" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/CodingBlocksJr" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://t.me/CodingBlocksJunior" target="_blank"><i class="fa fa-telegram"></i></a></li>
                            </ul> <!-- List End -->
                        </div> <!-- Social Links End -->
                    </div> <!-- Col End -->
                </div> <!-- Row End -->
            </div> <!-- Container End -->
        </div>